<div class="preview-wrapper">
  <div class="dirty-message" ng-if="isDirty">
    This preview is out of date. Please <a ng-click="loadLatest()">reload</a> to see the latest.
  </div>

  <ng-include
    src="'templates/error-presenter.html'"
    ng-controller="ErrorPresenterCtrl"
    ng-if="errors.length || warnings.length">
  </ng-include>


  <ng-include src="'templates/specs-info.html'"></ng-include>

  <!--<ng-include src="'templates/releases.html'"></ng-include>-->

  <!--<ng-include src="'templates/stemcells.html'"></ng-include>-->

  <!--<ng-include src="'templates/update-block.html'"></ng-include>-->

  <!--<ng-include src="'templates/instance-groups.html'"></ng-include>-->
</div>
