<div class="preview-wrapper">
  <div class="dirty-message" ng-if="isDirty">
    This preview is out of date. Please <a ng-click="loadLatest()">reload</a> to see the latest.
  </div>

  <ng-include
    src="'templates/error-presenter.html'"
    ng-controller="ErrorPresenterCtrl"
    ng-if="errors.length || warnings.length">
  </ng-include>

  <ng-include
    src="'templates/specs-info.html'"
    ng-if="isCurrentMode('Deployment-Manifest')">
  </ng-include>

  <ng-include
    src="'templates/instance-groups.html'"
    ng-if="isCurrentMode('Deployment-Manifest')">
  </ng-include>


  <ng-include
    src="'templates/variables.html'"
    ng-if="isCurrentMode('Deployment-Manifest')">
  </ng-include>

  <ng-include
    src="'templates/update-block.html'"
    ng-if="isCurrentMode('Deployment-Manifest')">
  </ng-include>

  <ng-include
    src="'templates/releases.html'"
    ng-if="isCurrentMode('Deployment-Manifest') || isCurrentMode('Runtime-Config')">
  </ng-include>

  <ng-include
    src="'templates/stemcells.html'"
    ng-if="isCurrentMode('Deployment-Manifest')">
  </ng-include>

  <!-- ================================================== -->
  <ng-include
    src="'templates/addons.html'"
    ng-if="isCurrentMode('Runtime-Config')">
  </ng-include>

  <ng-include
    src="'templates/addons-tags.html'"
    ng-if="isCurrentMode('Runtime-Config')">
  </ng-include>
</div>
