<div class="main-header">

  <a href="https://bosh.io" target="_blank" class="logo" ng-if="!showHeaderBranding()"></a>

  <div ng-include="'templates/branding-left.html'" ng-if="showHeaderBranding()" class="branding-3rdparty"></div>

  <section class="menu-bar">
    <div class="file dropdown" uib-dropdown ng-if="showFileMenu()">
      <button
        uib-dropdown-toggle
        class="btn btn-default dropdown-toggle"
        ng-click="onFileMenuOpen()"
        id="fileMenu">
        <span>File</span>
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" uib-dropdown-menu>
        <li>
          <a dropdown-toggle ng-click="newProject()" tabindex="-1" track-event="file new"><i class="fa fa-file-text"></i>&nbsp;<span>New</span></a>
        </li>
        <li class="divider"></li>
        <li>
          <a dropdown-toggle ng-click="openImportFile()" tabindex="-1" track-event="file import file"><i class="fa fa-file highlighted"></i>&nbsp;<span>Import File&hellip;</span></a>
        </li>
        <li class="divider"></li>
        <li>
          <a download="swagger.yaml" data-downloadurl="{{yamlDownloadUrl}}"
            href="{{yamlDownloadHref}}" tabindex="-1" track-event="file download yaml"><i class="fa fa-download"></i>&nbsp;<span>Download YAML</span></a>
        </li>
      </ul>
    </div>

    <div class="preferences dropdown"  uib-dropdown>
      <button id="preferences" class="btn btn-default" uib-dropdown-toggle>
        <span>Preferences</span>
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" uib-dropdown-menu>
        <li>
          <a class="font-size">
            <i class="fa fa-font"></i>
            Font Size&nbsp;&nbsp;&nbsp;
            <span>
              <span ng-click="adjustFontSize(1)" stop-event class="adjust" track-event="preferences font+">+</span><span ng-click="adjustFontSize(-1)" stop-event class="adjust" track-event="preferences font-">–</span>
            </span>
          </a>
        </li>
        <li>
          <a dropdown-toggle ng-click="openEditorPreferences()" tabindex="-1" track-event="preferences settings">
            <i class="fa fa-cogs"></i>
            <span>Editor Settings</span>
          </a>
        </li>
        <li>
          <a dropdown-toggle ng-click="resetSettings()" tabindex="-1" track-event="preferences reset-settings">
            <i class="fa fa-undo"></i>
            <span>Reset Editor Settings</span>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a dropdown-toggle tabindex="-1" ng-click="openPreferences()" track-event="preferences preferences">
            <i class="fa fa-wrench highlighted"></i>
            <span>Preferences&hellip;</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="mode dropdown" uib-dropdown>
      <button class="dropdown-icon btn btn-default" id="open-example" ng-click="openExamples()" track-event="file open-example" uib-dropdown-toggle>
        <span>Sample Manifests</span>
      </button>
    </div>

    <div class="mode dropdown" uib-dropdown>
      <button class="dropdown-icon btn btn-default" id="choose-mode" ng-click="chooseMode()" uib-dropdown-toggle>
        <span>Mode</span>
      </button>
    </div>

    <div class="help dropdown" uib-dropdown>
      <button class="dropdown-icon btn btn-default" id="helpMenu" uib-dropdown-toggle>
        <span>Help</span>
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" uib-dropdown-menu>
        <li>
          <a tabindex="-1" href="https://bosh.io/docs" target="_blank">
            <i class="fa fa-align-justify"></i>&nbsp;
            <span>BOSH Docs</span>
          </a>
        </li>
        <li>
          <a tabindex="-1" href="https://bosh.io/" target="_blank">
            <i class="fa fa-share-square-o"></i>&nbsp;
            <span>BOSH Website</span>
          </a>
        </li>
        <li>
          <a dropdown-toggle tabindex="-1" ng-click="openAbout()">
            <i class="fa fa-info-circle"></i>&nbsp;
            <span>About BOSH Editor</span>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a dropdown-toggle ng-click="toggleAboutEditor(true)" tabindex="-1">
            <i class="fa no-icon"></i>&nbsp;
            <span>Show Introduction Help</span>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="status-bar">
    <span class="label label-danger">{{autocompleteMode}} Mode</span>
  </section>

  <section class="status-bar">
    <div class="status {{statusClass}}" ng-if="status">
      <i ng-if="statusClass == 'working'" class="fa fa-spinner fa-pulse"></i>
      <i ng-if="statusClass == 'error'" class="fa fa fa-times"></i>
      <i ng-if="statusClass == 'success'" class="fa fa-check"></i>
      <span>{{status}}</span>
    </div>
    <div class="brandRight" ng-include="'templates/branding-right.html'" ng-if="showHeaderBranding()"></div>
  </section>
</div>
