<!--==================================================================-->
<!--Update Block-->
<header ng-if="specs.tags">
  <h3 class="section-header">
    <a ng-click="specs.tags.$folded = !specs.tags.$folded;">

      <span><strong>Tags</strong></span>
    </a>
  </h3>
</header>

<ul
  class="list-group"
  collapse-when="specs.tags.$folded"
  ng-if="specs.tags">

  <li
    class="list-group-item"
    ng-class-even="'list-group-item-info'"
    ng-class-odd="'list-group-item-success'"
    ng-repeat="(key, value) in specs.tags">
    <strong>{{key}}: {{value}}</strong>
  </li>
</ul>
