<!--==================================================================-->
<!--Instance Groups-->
<header ng-if="specs.instance_groups.length > 0">
  <h3 class="section-header">
    <a ng-click="specs.instance_groups.$folded = !specs.instance_groups.$folded;">

      <span><strong>Instance Groups ({{specs.instance_groups.length}})</strong></span>
    </a>
  </h3>
</header>

<ul
  class="operations"
  collapse-when="specs.instance_groups.$folded"
  ng-if="specs.instance_groups.length > 0">
  <li
    class="get operation"
    ng-repeat="instanceGroup in specs.instance_groups">

    <header
      ng-click="instanceGroup.$folded = !instanceGroup.$folded;"
      ng-if="instanceGroup.name"
    >
      <div
        class='http-method'
        class="toggleOperation">{{instanceGroup.name}}
      </div>
    </header>

    <div
      class='content'
      collapse-when="instanceGroup.$folded"
      ng-if="instanceGroup.name">
      <section class="parameters">
        <div>
          <table class="params">
            <thead>
            <tr>
              <th>Name</th>
              <th>Instances</th>
              <th>Lifecycle</th>
              <th>VM Type</th>
              <th>Stemcell</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{instanceGroup.name}}</td>
              <td>{{instanceGroup.instances}}</td>
              <td>{{instanceGroup.lifecycle}}</td>
              <td>{{instanceGroup.vm_type}}</td>
              <td>{{instanceGroup.stemcell}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </li>
</ul>
