<div class="about-pane">
  <div class="modal-header">
    <h1 class="overlay-title">BOSH Editor</h1>
    <h3>Easily create deployment manifests, cloud configs, and runtime configs</h3>
  </div>
   <div class="file-arrow"></div>
  <div class="sample">Try a sample here</div>
  <button id="dismis-intro" class="btn btn-warning btn-close" ng-click="toggleAboutEditor(false)">
  </button>
  <div class="yaml-author">Write manifests in YAML...</div>
  <div class="sw-preview">...and enjoy dynamic auto-complete features</div>
  <button class="btn btn-warning btn-intro" ng-click="toggleAboutEditor(false)">Got it!</button>
</div>


