<!--==================================================================-->
<!--Variables-->
<hr ng-if="specs.variables.length > 0" />
<header ng-if="specs.variables.length > 0">
  <h3 class="section-header">
    <a ng-click="specs.variables.$folded = !specs.variables.$folded;">
      <span><strong>Variables ({{specs.variables.length}})</strong></span>
    </a>
    <span class="toggle">
      <a ng-click="listAllVariables()">Toggle</a>
    </span>
  </h3>
</header>

<ul
  class="operations"
  collapse-when="specs.variables.$folded"
  ng-if="specs.variables.length > 0">
  <li
    class="operation"
    ng-repeat="variable in specs.variables"
    ng-class="{password:'post', certificate:'get', ssh:'delete', rsa:'put'}[variable.type]">

    <header
      ng-click="variable.$folded = !variable.$folded;"
      ng-if="variable.name">

      <span class="tags variable-type">
          <span class="tag"
                ng-class="{password:'tag-color-2', certificate:'tag-color-11', ssh:'tag-color-15', rsa:'tag-color-5'}[variable.type]">
            {{variable.type}}
          </span>
      </span>
      <div
        class='http-method'
        class="toggleOperation">
        {{variable.name}}
        <span class="badge" style="font-size: 17px;">{{variable.usages.length}}</span>
      </div>
    </header>

    <div
      class='content'
      collapse-when="variable.$folded"
      ng-if="variable.name">

      <section class="summary" ng-if="variable.options">
        <h4>Options</h4>
        <pre id="json">{{variable.prettyOptions}}</pre>
      </section>

      <section class="parameters" ng-if="variable.usages && variable.usages.length > 0">
        <h4>Used: {{variable.usages.length}} times</h4>
        <div>
          <table class="params">
            </thead>
            <tbody>
            <tr ng-repeat="item in variable.usages">
              <td style="font-size: 14px;">{{item}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </li>
</ul>
